@using MoviesLibrary.Models;
@model List<FullMovieResult>
 <div style="display:inline-block">
        @for (int i = 0; i < Model.Count; i++)
        {
            <form method="post" style="display:inline">
                <button type="submit" class="alert-dark" asp-controller="FavMovies" asp-route-movie=@Model[i].Id  asp-action="FavouriteMovieResult" style="background: url(@("https://image.tmdb.org/t/p/w200"+@Model[i].PosterPath));width:200px; height:300px;"></button>

            </form>
        }
</div>

