.wrapper {
    display: grid;
    grid-template-columns: 30% 50%;
    align-items: center
}


.btn1 {
    width: 40px;
    height: 36px;
    border: 1px solid #ffffff;
    background: #ffffff;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
}

.editButton {
    color: rgb(13, 150, 58);
}

.deleteButton {
    color: rgb(231, 41, 7);
}