@model MoviesLibrary.DataAccess.Registration.Login

 <link href="~/css/PrimaryStyle.css" rel="stylesheet" type="text/css" />

<center>
    <h3>Log In</h3>
    <form method="post" asp-controller="Account" asp-action="Login"
          asp-route-returnUrl="@Model.ReturnUrl">
        <div asp-validation-summary="ModelOnly"></div>
            <label asp-for="Email"></label><br />
            <input asp-for="Email" type="email" class="form-control" placeholder="Type your e-mail here" /> <br />
            <span asp-validation-for="Email"></span>

            <label asp-for="Password"></label><br />
            <input asp-for="Password" class="form-control" placeholder="Type your password here" /><br />
            <span asp-validation-for="Password"></span>

            <input type="submit" class="button primaryButton" value="Log in" />

        
    </form>
</center>

