@model SearchViewModel

 <script src="https://use.fontawesome.com/18f444fe4b.js"></script>

 <link rel="stylesheet" href="~/css/SearchStyle.css"  type="text/css"/>
 <link href="~/css/PrimaryStyle.css" rel="stylesheet" type="text/css" />

@if (Model.SearchMovieResult.Results == null || Model.SearchMovieResult.Results.Count == 0)
{
        <div>
            <center>
                <h4 style="color:red">"@(Model.MovieTitle)" was not found</h4>
                <p>Sorry, nothing matched your specified input. Please modify your search text and try again.</p>
            </center>
            <br />
        </div>

        <div class="wrap">
            <form method="post">
                <div class="search">

                    <input type="text" class="searchInput" name="movie" placeholder="Try again... Enter the title of the movie" required>
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button><br /><br />
                </div>
            </form>
        </div>
}

else
{
<div style="display:inline-block">
@for (int i = 0; i < Model.SearchMovieResult.Results.Count; i++)
{
            <form method="post" style="display:inline">
                <button type="submit" class="alert-dark" asp-controller="Categories" asp-action="MovieResult" asp-route-movie=@Model.SearchMovieResult.Results[i].Id
                        style="background: url(@("https://image.tmdb.org/t/p/w200" + @Model.SearchMovieResult.Results[i].PosterPath));width:200px; height:300px;" ;></button>

            </form>
}
 </div>


    @if (Model.SearchMovieResult.Page == Model.SearchMovieResult.TotalPages && Model.SearchMovieResult.TotalPages > 1)
    {
        <center>
            <form method="POST">
                <button type="submit" class="button primaryButton" asp-controller="Search" asp-action="Search" asp-route-movie=@Model.MovieTitle asp-route-page=@(Model.SearchMovieResult.Page - 1)>Previous Page</button>
            </form>
        </center>
    }
    else if (Model.SearchMovieResult.Page == 1 && Model.SearchMovieResult.TotalPages > 1)
    {
        <center>
            <form method="POST">
                <button type="submit" class="button primaryButton" asp-controller="Search" asp-action="Search" asp-route-movie=@Model.MovieTitle asp-route-page=@(Model.SearchMovieResult.Page + 1)>Next Page</button>
            </form>
        </center>
    }
    else if (Model.SearchMovieResult.TotalPages > 1)
    {
        <center>
            <form method="POST">
                <button type="submit" class="button primaryButton" asp-controller="Search" asp-action="Search" asp-route-movie=@Model.MovieTitle asp-route-page=@(Model.SearchMovieResult.Page - 1)>Previous Page</button>
                <button type="submit" class="button primaryButton" asp-controller="Search" asp-action="Search" asp-route-movie=@Model.MovieTitle asp-route-page=@(Model.SearchMovieResult.Page + 1)>Next Page</button>
            </form>
        </center>
        }
    }
