
@{
    ViewBag.Title = "Search";
}

<script src="https://use.fontawesome.com/18f444fe4b.js"></script>

<link rel="stylesheet" href="~/css/SearchStyle.css" />
<link rel="stylesheet" href="~/css/PrimaryStyle.css" />

<div class="wrap">
    <center><h4>Enter the title of the film:</h4></center><br />
    <form method="post">
        <div class="search">

            <input type="text" class="searchInput" name="movie" placeholder="Enter the title of the movie">
            <button type="submit" class="searchButton">
                <i class="fa fa-search"></i>
            </button><br /><br />  <br />
        </div>
    </form>
</div>

<form method="GET">
    <center>
        <button type="submit" class="button primarySearchButton" asp-controller="Home" asp-action="Index">Home</button>
    </center>
</form>

