
@{
    ViewBag.Title = "Search";
}
<form method="post">
    <center>
        <label>Enter the title of the film</label><br />
        <input type="text" name="movie" /><br /><br />
        <input type="submit" class="btn btn-outline-info" value="Find the film" /><br /><br />

    </center>
</form>
@*@foreach (var item in @ViewBag.Results)
{
    <p> @item  </p>
}*@
<form method="GET">
    <center>
        <button type="submit" class="btn btn-outline-info" asp-action="Index">Home</button>
    </center>
</form>

