
@{
    ViewBag.Title = "Search";
}
<form method="post">
    <center>
        <h4>Enter the title of the film</h4><br />
        <input type="text" class="form-control" name="movie" placeholder="Type the title of the movie here" required /><br />
        <input type="submit" class="btn btn-outline-info" value="Find the film" /><br /><br />

    </center>
</form>

<form method="GET">
    <center>
        <button type="submit" class="btn btn-outline-info" asp-controller="Home" asp-action="Index">Home</button>
    </center>
</form>

