@{
    ViewData["Title"] = "Categories of movies";
}

<div class="text-center">

    <p>
        Here will be categories of movies.
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Action"asp-route-page=1 >Action</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Adventure">Adventure</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Animation">Animation</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Comedy">Comedy</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Crime">Crime</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Adventure">Drama</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Documentary">Documentary</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Fantasy">Fantasy</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Horror">Horror</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Romance">Romance</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Thriller">Thriller</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre="Western">Western</a>
        <form method="GET">
            <button type="submit" class="btn btn-outline-info" asp-action="Index">Home</button>
        </form>
    </p>

</div>