@model MoviesLibrary.Web.Models.GenreViewModel

<link href="~/css/PrimaryStyle.css" rel="stylesheet" type="text/css" />

<div style="display:inline-block">
    @for (int i = 0; i < Model.MovieResultVM.Results.Count; i++)
    {
        <form method="post" style="display:inline">
            <button type="submit" class="alert-dark" asp-controller="Categories" asp-action="MovieResult" asp-route-movie=@Model.MovieResultVM.Results[i].Id style="background: url(@("https://image.tmdb.org/t/p/w200"+@Model.MovieResultVM.Results[i].PosterPath));width:200px; height:300px;"></button>

        </form>
    }
</div>


@if (Model.MovieResultVM.Page == Model.MovieResultVM.TotalPages && Model.MovieResultVM.TotalPages != 1)
{
    <center>
        <form method="POST">
            <button type="submit" class="button primaryButton" asp-controller="Categories" asp-action="GetByGenre" asp-route-genre=@Model.Genre asp-route-page=@(Model.MovieResultVM.Page - 1)>Previous Page</button>
        </form>
    </center>
}
else if (Model.MovieResultVM.Page == 1 && Model.MovieResultVM.TotalPages != 1)
{
    <center>
        <form method="POST">
            <button type="submit" class="button primaryButton" asp-controller="Categories" asp-action="GetByGenre" asp-route-genre=@Model.Genre asp-route-page=@(Model.MovieResultVM.Page + 1)>Next Page</button>
        </form>
    </center>
}
else if (Model.MovieResultVM.TotalPages != 1)
{
    <center>
        <form method="POST">
            <button type="submit" class="button primaryButton" asp-controller="Categories" asp-action="GetByGenre" asp-route-genre=@Model.Genre asp-route-page=@(Model.MovieResultVM.Page - 1)>Previous Page</button>
            <button type="submit" class="button primaryButton" asp-controller="Categories" asp-action="GetByGenre" asp-route-genre=@Model.Genre asp-route-page=@(Model.MovieResultVM.Page+1)>Next Page</button>
        </form>
    </center>
}
