@model MoviesLibrary.Web.Models.MovieViewModel
<span style="display:inline">
    @for (int i = 0; i < Model.MovieResultVM.Results.Count; i++)
    {
        <form method="post" style="display:inline">
            @*<input type="hidden" name="movie" value=@Model.results[i].id />*@
            <button type="submit" class="alert-dark" asp-controller="Categories" asp-action="MovieResult" asp-route-movie=@Model.MovieResultVM.Results[i].Id style="background: url(@("https://image.tmdb.org/t/p/w200"+@Model.MovieResultVM.Results[i].PosterPath));width:200px; height:300px;" ;></button>

        </form>
    }
</span>


@if (Model.MovieResultVM.Page == Model.MovieResultVM.TotalPages && Model.MovieResultVM.TotalPages != 1)
{
    <center>
        <form method="POST">
            <button type="submit" class="btn btn-outline-info" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre=@Model.Genre asp-route-page=@(Model.MovieResultVM.Page - 1)>Previous Page</button>
        </form>
    </center>
}
else if (Model.MovieResultVM.Page == 1 && Model.MovieResultVM.TotalPages != 1)
{
    <center>
        <form method="POST">
            <button type="submit" class="btn btn-outline-info" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre=@Model.Genre asp-route-page=@(Model.MovieResultVM.Page + 1)>Next Page</button>
        </form>
    </center>
}
else if (Model.MovieResultVM.TotalPages != 1)
{
    <center>
        <form method="POST">
            <button type="submit" class="btn btn-outline-info" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre=@Model.Genre asp-route-page=@(Model.MovieResultVM.Page - 1)>Previous Page</button>
            <button type="submit" class="btn btn-outline-info" asp-controller="Categories" asp-action="GetByGenreAction" asp-route-genre=@Model.Genre asp-route-page=@(Model.MovieResultVM.Page+1)>Next Page</button>
        </form>
    </center>
}
