@{
    ViewData["Title"] = "Categories of movies";
}

<div class="text-center">

    <p>
        Here will be categories of movies.
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Action">Action</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Adventure">Adventure</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Animation">Animation</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Comedy">Comedy</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Crime">Crime</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Drama">Drama</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Documentary">Documentary</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Fantasy">Fantasy</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Horror">Horror</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Romance">Romance</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Thriller">Thriller</a>
        <a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Western">Western</a>
        <form method="GET">
            <button type="submit" class="btn btn-outline-info" asp-action="Index">Home</button>
        </form>
    </p>

</div>