@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/PrimaryStyle.css" rel="stylesheet" type="text/css" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you want to find information about your favourite movie, click on the button below</p>
    <form method="GET">
        @*<button type="submit" class="btn btn-outline-info" asp-action="Search">Seach</button>*@
        <button type="submit" class="button primaryButton" asp-controller="Search" asp-action="Search">Search</button>
    </form>
</div>
